__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config file
config.json

.coverage_*
*~
slurm*
logs

# Data folder
bookcorpus_data/
examples_deepspeed/rebase/data/
examples_deepspeed/rebase/output/
examples_deepspeed/tmp/
examples_deepspeed/rebase/*.json
output/*